asgiref
boto3
botocore
certifi
cffi==1.15.1
charset-normalizer
Django
et-xmlfile
future
gitdb
GitPython
idna
jmespath
pyad
pycparser
PyMySQL
PyNaCl
python-dateutil
requests
s3transfer
six
smmap
sqlparse
typing_extensions
tzdata
urllib3
psycopg2-binary
