.main-container {
    margin-left: 320px;
  }
  
  table {
    width: 70%;
    border-collapse: collapse;
  }
  
  td,
  th {
    border: 2px solid black;
    text-align: center;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }
  