.main-container{
    margin-left: 320px;
}
.team-information{
    margin-left: 320px;
}
.container{padding-right:15px;padding-left:300px;margin-right:auto;margin-left:auto}
.row{margin-right:-15px;margin-left:-15px}
.container2{padding-right:15px;padding-left:15px;margin-right:auto;margin-left:auto}
.container2{padding-right:15px;padding-left:15px;margin-right:auto;margin-left:auto}
.vl {border-left: 6px solid green;height: 500px;position: absolute;left: 50%;margin-left: -3px;top: 0;}
.hr{ height:20px
}
.messages {
    position: relative;
    padding: .75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: .25rem;
    text-align-last: end;
}
.alert-danger {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}
.m-2 {
    margin: .5rem!important;
}
.labell{
        display: inline-block;
        width: 150px;
        text-align: right;
      }