{% extends 'tournamentcreation/base.html' %}
<!-- ---------------------------------------------------------------------- -->
{% load static %}
<!-- ---------------------------------------------------------------------- -->
{% block link %} {% static 'css/td.css' %} {% endblock %}
<!-- ---------------------------------------------------------------------- -->
{% block title %} TDs {% endblock %}
<!-- ---------------------------------------------------------------------- -->
{% block content %}
<!-- ---------------------------------------------------------------------- -->

<div class="main-container">
  <div>
    <h1>TDs</h1>

    <div>
      <label for="tournament-info">for</label>
      <select name="tournament-info" id="tournament-info">
        <option value="select">select</option>
        {% for i in tournament_objects %}
        <option value="{{ i.pk }}">{{ i }}</option>
        {% endfor %}
      </select>
    </div>
    <div>
      <a href="/matchups/td/add/" style="color:white"/>Add New TD</a>
    </div>
    <div>
      <input
        type="button"
        name="assign-table-td"
        id="assign-table-td"
        value="Assign Table TDs"
      />
    </div>

    <div>
      <table>
        <tr>
          <th>FUll Name</th>
          <th>BBO Username</th>
          <th>Global TD</th>
        </tr>

        <tbody id="tableBodyy">
        <tr id="tabletable" >
          <td name="id" id="id">{{ i }}</td>

          <td name="bbo" id="bbo">{{ i.bbo_username }}</td>
          <td name="global" id="global">{{ i.is_global}}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

{% endblock %} {% block extrafooter %}


<script>
    console.log('lorry')
    $("#tournament-info").change(function () {
          varname = $("#tournament-info").val();
          if(varname === "0") {
            $('#formContainer').find('input:text').val('');
            $('#formContainer').find('input[type=date]').val('');
          }
          else {
            $.get("/newajax_sessionsummary?id=" + varname, function (data, status) {
            console.log(data[0])
            $("#tableBodyy").empty();
            let str="";
            data[0].forEach((item)=>{
            console.log("item :",item)
              str +="<tr id='tabletable'>"+
              "<td name='id' id='id'>"+item.fields.name+"</td>"+
              "<td name='bbo' id='bbo'>"+item.pk+"</td>"+
              "<td name='global' id='global'>"+item.fields.is_global+"</td>"+

            "</tr>";
    })
    $("#tableBodyy").html(str);
          });
        }
      });


    </script>

    {% endblock %}
