{% extends 'tournamentcreation/base.html' %}
<!-- ---------------------------------------------------------------------- -->
{% load static %}
<!-- ---------------------------------------------------------------------- -->
{% block link %} {% static 'css/team-summary.css' %} {% endblock %}
<!-- ---------------------------------------------------------------------- -->
{% block title %} Team Summary {% endblock %}
<!-- ---------------------------------------------------------------------- -->
{% block content %}
<!-- ---------------------------------------------------------------------- -->

<div class="main-container">
  <h1>Teams Summary</h1>

  <div>
    <label for="tournament-info">for</label>
    <select name="tournament-info" id="tournament-info">
      <option value="select">select</option>
      {% for i in tournament_objects %}
      <option value="{{ i.pk }}">{{ i }}</option>
      {% endfor %}
    </select>
  </div>

  <div>
    <div>
      <span>Click on Team number (or name) to edit team details</span>
    </div>
    <div>
      <input type="button" name="show-all" id="show-all" value="Show All" />
    </div>
<!--    <div>-->
<!--      <input-->
<!--        type="button"-->
<!--        name="add-new-team"-->
<!--        id="add-new-team"-->
<!--        value="Add New Team"-->
<!--      />-->
<!--    </div>-->
  </div>

  <div>
    <table>
      <tr>
        <th>Team #</th>
        <th>is Active</th>
        <th>Team Name</th>
        <th>Team Captain</th>
      </tr>

      <tbody id="tableBodyy">
      <tr id="table_tablee">
        <td name="team-no" id="team-no">{{ i.pk }}</td>
        <td>
          <input
            type="checkbox"
            name="is-active"
            id="is-active"
            value="{{ i.is_active }}"
          />
        </td>
        <td name="team-name" id="team-name">{{ i.team_name }}</td>
        <td name="team-captain" id="team-captain">{{ i.cap_name }}</td>
      </tr>
      </tbody>

    </table>
  </div>
</div>

{% endblock %}
<!-- ---------------------------------------------------------------------- -->
{% block extrafooter %}
<script>
<!--  var i;-->
<!--  var list_len = {{ team_objects|length }};-->

<!--  for(i = 0; i < list_len; i++){-->
<!--    if ($('#is-active').val() == 'True'){-->
<!--      $('#is-active').attr('checked', 'checked')-->
<!--      console.log(i)-->

<!--    }-->
<!--  }-->

 $("#tournament-info").change(function () {
    varname = $("#tournament-info").val();
    if (varname === "0") {
      $("#formContainer").find("input:text").val("");
      $("#formContainer").find("input[type=date]").val("");
    } else {
      $.get("/ajax_teamsummary?id=" + varname, function (data, status) {
        console.log(data[0]);
        $("#tableBodyy").empty();
        let str = "";
        data[0].forEach((item) => {
          console.log("item :", item);
          if (item.fields.is_active == true) {
            str +=
              "<tr id='table_tablee'>" +
              "<td name='team-number' id='team-number'>" +
              item.fields.team_number +
              "</td>" +
              "<td><input type='checkbox' name='is-active' id='is-active' checked =" +
              item.fields.is_active +
              " /> </td>" +
              "<td name='team-name' id='team-name'>" +
              item.fields.team_name +
              "</td>" +
              "<td name='team-captain' id='team-captain'>" +
              item.fields.cap_name +
              "</td>" +
              "</tr>";
          } else {
            str +=
              "<tr id='table_tablee'>" +
              "<td name='team-number' id='team-number'>" +
              item.fields.team_number +
              "</td>" +
              "<td><input type='checkbox' name='is-active' id='is-active' " +
              item.fields.is_active +
              " /> </td>" +
              "<td name='team-name' id='team-name'>" +
              item.fields.team_name +
              "</td>" +
              "<td name='team-captain' id='team-captain'>" +
              item.fields.cap_name +
              "</td>" +
              "</tr>";
          }
        });

        $("#tableBodyy").html(str);
      });
    }
  });
</script>
{% endblock %}
