{% extends 'tournamentcreation/base.html' %} {% block content %}

<div style="margin-left: 270px">
  <h1>All Tournaments</h1>

  <div>
    <a href="add/">
      <button>Add new tournament</button>
    </a>
  </div>

  <div>
    <ul>
      <li>
        First Tournament
        <a href="update/"><button>Update</button></a>
      </li>
      <li>
        Second Tournament
        <a href="update/"><button>Update</button></a>
      </li>
      <li>
        Third Tournament
        <a href="update/"><button>Update</button></a>
      </li>
    </ul>
  </div>
</div>

{% endblock %}
