{% extends 'tournamentcreation/base.html' %} {% block content %}
{% block title%} abcd {% endblock %}

<div style="margin-left: 320px">
    <form action="" method="POST" id="formContainer">
        {% csrf_token %}
        <div style="color: wheat; padding: 3%; width: 70%">
            <div
                    style="
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          margin: 1%;
        "
            >
                <div id="tournamentDropdownContainer">
                    <label for="current-focus">Select Tournament to view/edit: </label>
                    <select name="current-focus" id="current-focus">
                        <option value="0">None</option>
                        {% for i in tournament_objects %}
                        <option value="{{ i.pk }}">{{ i.title }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div>
                    <input
                            type="button"
                            class="add-new-tournament"
                            id="add-new-tournament"
                            value="Add New Tournament"
                            onClick="addNewTournamentStateHandler()"
                    />
                </div>
            </div>
            <div id="inactiveTournamentContainer">
                <input
                        type="checkbox"
                        name="inactive-tournaments"
                        id="inactive-tournaments"
                        value=""
                />
                <label for="inactive-tournaments">Include Inactive Tournaments</label>
            </div>
            <div
                    style="
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          margin: 1%;
        "
            >
                <div>
                    <label for="title">Name:</label>
                    <input type="text" name="title" id="title"/>
                </div>
                <div>
                    <input type="checkbox" name="is-active" id="is-active" value="on"/>
                    <label for="is-active">Active</label>
                </div>
                <div>
                    <label for="format">Format:</label>
                    <select name="format" id="format">
                        <!-- <option value="">None</option> -->
                        <option value="Knockout">Knockout</option>
                        <option value="Mixed">Mixed</option>
                        <option value="Round Robin">Round Robin</option>
                        <option value="Swiss">Swiss</option>
                    </select>
                    <!-- e="format" id="format">
                      <option value="">None</option>
                      {% for i in format %}
                      <option value="{{ i }}">{{ i }}</option>
                      {% endfor %}
                    </select> -->
                </div>
            </div>
            <div
                    style="
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          margin: 1%;
        "
            >
                <div>
                    <label for="host">Host:</label>
                    <input type="text" name="host" id="host"/>
                </div>
                <div>
                    <label for="start-date">Start Date:</label>
                    <input type="date" name="start-date" id="start-date"/>
                </div>
                <div>
                    <label for="end-date">End Date:</label>
                    <input type="date" name="end-date" id="end-date"/>
                </div>
            </div>
            <div
                    class="global-tds"
                    style="width: 80%; border: 5px solid black; padding: 50px; margin: 20px"
                    id="TDsContainer"
            >
                <div>
                    <div>
                        <label>Global TDs: Click to assign as Global TD  </label>


                        <a href="/td/add"
                        >
                            <input type="button" value="Add New TD"/>
                        </a>

                    </div>
                    <div id="TDContainer">
                        <!-- {% for i in td %} -->
                        <!-- <input type="checkbox" name="{{ i.pk }}" id="{{ i.pk }}" /> -->
                        <!-- <label for="{{ i.pk }}">{{ i.pk }} ({{ i }})</label> -->
                        <!-- {% endfor %} -->
                    </div>
                </div>
            </div>

            <div id="submitContainer">
                <input type="submit" name="add-tournament" id="add-tournament"/>
            </div>

            <div>
                <input
                        type="submit"
                        name="logout"
                        id="logout"
                        value="Logout"
                        style="float: left;"
                />
            </div>
            <div id="modifyContainer">
                <input
                        type="submit"
                        name="modify-tournament"
                        id="modify-tournament"
                        value="Modify Tournament"
                        style="float: left;"
                />
            </div>
        </div>
    </form>
</div>

{% endblock %} {% block extrafooter %}
<script>
  let addNewTournamentState = false;

  const resetAllValues = () => {
    $('#formContainer').find('input:text').val('');
    $('#formContainer').find('input[type=date]').val('');
  }

  const checkFormState = () => {
    if(addNewTournamentState) {
      const username = ('{{ user.username|escapejs }}');
      $('#tournamentDropdownContainer').hide();
      $('#add-new-tournament').val('Edit Tournament');
      $('#inactiveTournamentContainer').hide();
      $('#TDsContainer').hide();
      $('#submitContainer').show();
      $('#modifyContainer').hide();
      $('#format option:eq(0)').prop('selected', true)
      resetAllValues();
      $("#host").val(username)
    }
    else {
      $('#tournamentDropdownContainer').show();
      $('#add-new-tournament').val('Add New Tournament');
      $('#inactiveTournamentContainer').show();
      $('#TDsContainer').show();
      $('#submitContainer').hide();
      $('#modifyContainer').show();
      $('#current-focus option:eq(0)').prop('selected', true)
    }
  }

  $(() => {
    checkFormState();
  });

  const addNewTournamentStateHandler = () => {
    addNewTournamentState = !addNewTournamentState;
    checkFormState();
  }

  $("#current-focus").change(function () {
    varname = $("#current-focus").val();
    if(varname === "0") {
      $('#formContainer').find('input:text').val('');
      $('#formContainer').find('input[type=date]').val('');
    }
    else {
      $.get("/single_tournament_ajax?id=" + varname, function (data, status) {
        document.getElementById('TDContainer').innerHTML = ''
        $("#title").val(data[0][0]["fields"]["title"]);
        $("#host").val(data[0][0]["fields"]["host"]);
        $("#start-date").val(data[0][0]["fields"]["start_date"]);
        $("#end-date").val(data[0][0]["fields"]["end_date"]);
        $("#global-tds").val(data[0][0]["fields"]["global_tds"]);
        $("#format").val(data[0][0]["fields"]["format"]);
        const TDs = data[1];
        TDs.map(TD => {
          document.getElementById('TDContainer').innerHTML += '<input type="checkbox" name="'+ TD.pk +'" id="'+ TD.pk +'" value='+ TD.pk +' />  <label for="'+ TD.pk +'">'+TD.pk+' ('+ TD['fields'].name +')</label>'
          if(TD['fields'].is_global)
            $('#'+TD.pk).attr('checked', true)
        })
      });
    }
  });




</script>
{% endblock %}
